.hot-spot {
    height: 500px;
    background-color: #c5c5c563;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    > .list {
        line-height: 50px;
        background-color: #fff;
        margin-top: 12px;
        width: 100%;
        float: left;
        padding: 0px 12px;
    }
}
